body{
    padding: 0%;
   margin: 0%;
   background-color:gainsboro;
  font-family:  Arial, sans-serif

}
header{
    text-align: center;
    background-color: white;
  
 
  
   
}
header a{
color: #316531;
text-decoration: none;
font-weight: 900;
font-size: 20px;
   
}
input{
    margin-left: 40px;
   padding-top : 6px;
}

  

nav a{
    padding-left: 80px;
     
}

.connexion a{
    text-align: end;
}
header .connex { 
 text-align: end;
 padding-right: 20px;
 padding-bottom: 40px;
 
}
header .connex a{
   text-align: end;
   color: white;
   border: 1px solid #e6825d;
   background-color: #e6825d;
   border-radius: 5px;
   padding: 5px;
   margin: 10px;
   font-weight: 200;
   
}

.one{
   padding-right: 10px;


}
.one a{
    color: black;
    text-decoration: none;
}

.two{
    padding-right: 10px;

}
.two a{
    color: black;
}
.three{
padding-left: 20px;
border: 1px solid gray;
height: 580px;
margin-right: 10px;
overflow-y: scroll;
width: 100%;
padding-right: 10px;





}
.one .onebas{
    display: flex;
    flex-direction: row;   
}

table{
    color: white;
    text-align: center;
    width: 90%;
    padding-left: 200px;
    padding-bottom: 50px;
}




th {
    color: gainsboro;
    padding-bottom: 20px;
}
td{
    padding: 5px;
  
}
footer img{
    display: flex;
    align-items: flex-start;
    padding: 20px;

}
.reseauxsociaux{
    display: flex;
    flex-direction: row;
  justify-content: center;
   }



  
  

main{
    background-color: white;
    margin: 0 70px;
    padding: 40px  0 40 20;
    display: flex;
    flex-direction: row; 
    
    
}

   



.for a {
 color:black ; 
 display: flex;
 flex-direction: column;
 
}

H2{
    color: gray;
}

.one h4{ 
    font-weight: 200;
    font-size: 15px;
}
.selection{
    display: flex;
    flex-direction: row;
}
h6 {
    color: #e6825d;
}


footer{
    background-color:black;
    color: white;
    margin: 0 70px;
    padding: 40px 0 0 0 ;
    text-align: center;
}


.one h5{
    color:white;
    border: 1px solid #e6825d;
    
    padding: 2px;
    background-color: #e6825d;
    display: inline;
    font-size: 20px;
    
}

footer a {
    color: gainsboro;
    text-decoration: none;
    padding: 20px;
}
 
.for{
    padding-right: 20px;
    width: 80%;
    display: flex; 
    flex-direction: row;
    
}

.for1{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 20px;
   

}
.for1 a{
    text-decoration: none;
}

.for2 a{
display: flex;
flex-direction: row;
padding: 20px;
text-decoration: none; 
    
}
.for2 a img{
    padding-right: 10px;
    
}



   
input {
    
}

    
.one1 img {

}

